<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Facebook Login Page</title>
    <link rel="stylesheet" href="{% static 'css/facebook.css' %}" />
  </head>
  <body>
    <div class="content">
      <div class="flex-div">
        <div class="name-content">
          <h1 class="logo">Facebook</h1>
          <p>Connect with friends and the world around you on Facebook.</p>
        </div>
          <form>
            <input type="text" placeholder="Email or Phone Number" required />
            <input type="password" placeholder="Password" required>
            <button class="login">Log In</button>
            <a href="#" style="font-weight: 400;font-size: 13px;">Forgot Password ?</a>
            <hr>
            <button class="create-account">Create New Account</button>
          </form>
      </div>    
      <div style="text-align: right;margin-top: 19px; font-size: 14px;margin-right: 25px;">
        <a href="#">Create a Page </a>for a celebrity, brand or business.</div>
    </div>

    <div class="footer">
        <ul class="uiList localeSelectorList _2pid _509- _4ki _6-h _6-j _6-i" data-nocookies="1">
            <li><a href="#">English (US)</a></li>
            <li><a class="_sv4" dir="ltr" href="https://mn-mn.facebook.com/" title="Mongolian">Монгол</a></li>
            <li><a class="_sv4" dir="ltr" href="https://zh-cn.facebook.com/" title="Simplified Chinese (China)">中文(简体)</a></li>
            <li><a class="_sv4" dir="ltr" href="https://kk-kz.facebook.com/" title="Kazakh">Қазақша</a></li>
            <li><a class="_sv4" dir="ltr" href="https://ru-ru.facebook.com/" title="Russian">Русский</a></li>
            <li><a class="_sv4" dir="ltr" href="https://tr-tr.facebook.com/" title="Turkish">Türkçe</a></li>
            <li><a class="_sv4" dir="ltr" href="https://ja-jp.facebook.com/" title="Japanese">日本語</a></li>
            <li><a class="_sv4" dir="ltr" href="https://fr-fr.facebook.com/" title="French (France)">Français (France)</a></li>
            <li><a class="_sv4" dir="ltr" href="https://es-la.facebook.com/" title="Spanish">Español</a></li>
            <li><a class="_sv4" dir="ltr" href="https://pt-br.facebook.com/" title="Portuguese (Brazil)">Português (Brasil)</a></li>
            <li><a class="_sv4" dir="ltr" href="https://de-de.facebook.com/" title="German">Deutsch</a></li>
            <li><a role="button" class="_42ft _4jy0 _517i _517h _51sy" rel="dialog" ajaxify="/settings/language/language/?uri=https%3A%2F%2Fde-de.facebook.com%2F&amp;source=www_list_selector_more" href="#" title="Show more languages"><i class="img sp_EP9wX8qDDvu_1_5x sx_8c59a3"></i></a></li>
        </ul></div>
</body>
</html>